.headercmp{
    color: cornsilk;
}
.toolbar{
    background-color: rgb(47, 48, 48);
}
mat-toolbar{
    border-radius: 3px;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}