<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <p class="textstyle">Programmer and self learner</p>
            <p>
                I am a programmer and developer. 
                I like making fully functional software. 
                Skilled in Java8, springMVC,spring-boot,angular. Strong engineering professional with a Master of 
                Technology (MTech) focused in Software engineering from Rajagiri school Enginnering and Technology.
                Other programming language that am interested to look deeply is Python. 
                I have used raspberry pi to work on machine learning area, tried to implement image recognition and hand written character recogniton as part of my Mtech thesis.
                Moving aside my technical skills, other interests are dancing and painting. Also i like to learn new languages(currently learning japanese).
            </p>
        </div>
        
    </div>
</div>
<!-- <section class="pt-page pt-page-current ">
    <div class="section-title-block">
        <h2 class="section-title">About Me</h2>
        <h5 class="section-description">Programmer</h5>
    </div>
    <div class="row">
        <p style="font-weight: bold;font-size: 20px;">Programmer and self learner</p>
        <p>
            I am a programmer and developer. 
            I like making fully functional software. 
            Skilled in Java8, springMVC,spring-boot,angular. Strong engineering professional with a Master of 
            Technology (MTech) focused in Software engineering from Rajagiri school Enginnering and Technology.
    
        </p>
    </div>
</section> -->
