<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Get in touch</h2>
      <p>Email: krishnendurenjit@gmail.com</p>
      <p>Mob: 9497153413</p>
      <h2>Social media</h2>
      <div class="icons">
        <a href="www.linkedin.com/in/krishnendu-k-r-532186118" target="_blank"><fa-icon class="fa-2x" [icon]="faLinkedin"></fa-icon></a>
        <a href="https://github.com/KrishnenduKR" target="_blank"><fa-icon class="fa-2x" [icon]="faGithub"></fa-icon></a>
      </div>
    </div>
    <div class="col-sm-4">
      <h2>Contact</h2>
      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Full Name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email address">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Message for me"></textarea>
          <mat-icon matSuffix>message</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button color='primary'>Send Message</button>
      </p>

    </div>
  </div>
</div>
