mat-sidenav{
    width: 300px;
    padding: 20px;
    // background-color: rgb(47, 48, 48);
    // text-decoration-color: cornsilk;
}

fa-icon{
    padding-right: 15px;
}

mat-nav-list a.active {
    background-color: grey;
}

.title{
    text-align: center;
    padding-top: 5px;
}

.navlist{
    padding-top: 30px;
}

.icons{
    text-align: center;
    padding-top: 10%;
}

.navcontainer{
    height: 100%;
}

.header-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    background-image: url('/assets/krish2.jpg');
    background-size: cover;
}
