<mat-sidenav-container class="navcontainer">
  <mat-sidenav #sidenav mode="side" opened>
    <div mat-card-avatar  class="header-image"></div>
    <div class="title">
      <mat-card-title>Krishnendu K R</mat-card-title>
    </div>
    <div  class="title">
      <mat-card-subtitle>Software Engineer</mat-card-subtitle>
    </div>
    <div  class="navlist">
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navlist" (click)="handleClick(item)" [routerLink]="item.link">{{item.linkTitle}}</a>
      </mat-nav-list>
    </div>
    <div class="icons">
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faLinkedin"></fa-icon>
      <fa-icon [icon]="faGithub"></fa-icon>
    </div>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()" [title]=selectedItem  routerLinkActive="active"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
<mat-sidenav-container>