
 <div class="container">
     <div class="row">
        <div class="col-sm-4">
            <h2 >Education</h2>
            <h5 class="event-date spacer"> 2012 - 2016</h5>
            <p>Bachelor of Technology(BTech)</p>
            <mat-card-subtitle>CUSAT University</mat-card-subtitle>
            <p>8.32 GPA</p>
            <h5 class="event-date spacer"> 2012 - 2016</h5>
            <p>Master of Technology(MTech)</p>
            <mat-card-subtitle>Rajagiri School of Engineering and Technology</mat-card-subtitle>
            <p>8.2 GPA</p>
         </div>
         <div class="col-sm-4">
            <h2 >Experience</h2>
            <h5 class="event-date "> 2018 - 2019</h5>
            <p>Associate Software Engineer</p>
            <mat-card-subtitle>Innovature Software Labs Pvt. Ltd.</mat-card-subtitle>
            <p>Development and unit testing</p>
            <h5 class="event-date "> 2019 - 2020</h5>
            <p>Freelance works</p>
         </div>
         <div class="col-sm-4">
            <h2>Coding skills</h2>
            <h4>JAVA</h4>
            <div class="skill-container">
                <div class="skill-percentage skill1"></div>
            </div>
            <h4>Angular</h4>
            <div class="skill-container">
                <div class="skill-percentage skill1"></div>
            </div>
            <h4>Python</h4>
            <div class="skill-container">
                <div class="skill-percentage skill3"></div>
            </div>
            <h4>C/C++</h4>
            <div class="skill-container">
                <div class="skill-percentage skill1"></div>
            </div>
            <h4>HTML</h4>
            <div class="skill-container">
                <div class="skill-percentage skill1"></div>
            </div>
            <h4>CSS</h4>
            <div class="skill-container">
                <div class="skill-percentage skill4"></div>
            </div>

            <h2>Design skills</h2>
            <h4>Web Design</h4>
            <div class="skill-container">
                <div class="skill-percentage skill5"></div>
            </div>

            <h2>Operating Systems</h2>
            <p>
                <li>Linux</li>
                <li>Windows</li>
            </p>
            <h2>Tools</h2>
            <li>Git</li>
         </div>
     </div>
</div>
  
 

        
    
    
        
   
