/* You can add global styles to this file, and also import other style files */
@import "styles-variables";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

html, body { height: 100%; }
body {  margin: 0; font-family: 'Courier New', Courier, monospace }
.mat-sidenav, .mat-sidenav-container { background-color: white;}
.spacer{
    padding-right: 30px;
}
